body,input,textarea,button,select,pre,code{font-family:  'Hiragino Sans GB','Microsoft YaHei',Tahoma,Arial,'\5b8b\4f53',sans-serif;font-size:75%;line-height:1.5}body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,form,fieldset,input,textarea,button,select,pre,blockquote,hr{margin:0}fieldset,legend,button,ul,ol{padding:0}a{text-decoration:none}ul,ol{list-style:none}.clearfix{*zoom:1}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}img{border:none}
.left{
	float: left;
}
.right {
	float: right;
}


/*@media only screen and (min-width: 1024px){*/

.hd{
    height: 60px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    position: fixed;
    top: 0;
    z-index: 700;
    width: 100%;
    background-color: #ffffff;
}

.phone-panel{
    display:none;
}


.hd-main {
  width: 1290px;
  margin: 0 auto;
  position: relative;
  left: -213px;
}

.hd-nav{
    margin: 17px 0 0 35px;
    float: right;
}

.hd-nav li{
   float: left;
   text-align: right;
   width: 105px;
   line-height: 40px;
}
.hd-nav li a{
	font-size: 16px;
	/*color: #5c5c5c;*/
    color: #9d9d9d;
    cursor: pointer
}

.hd-nav li a:hover , .active_zone, .active_zone a{
    color: #5c5c5c !important;
}

.sense{
    background: url('../images/sense.png') center no-repeat;
    width: 1230px;
    height: 380px;
    margin: 0px auto;
    background-position: 20px -59px;
}
.main0{
    width: 100%;
    overflow: hidden;
    height: 380px;
    position: absolute;
    margin-top: 62px;
}
.main1{
    height: 933px;
    width: 100%;
    background: url(../images/bg1.jpg) center center no-repeat;
    overflow: hidden;
    background-position: 0 62px;
}
.m1-content{
    width: 790px;
    height: 790px;
    margin: 74px auto 0;
    overflow: hidden;
    background: url(../images/10.png) center center no-repeat;
    position: relative;
}

.m1-content .title{
    line-height: 30px;
	width: 405px;
	margin: 460px auto 0;
	font-size: 25px;
    text-align: center;
}

.m1-content p{
	line-height: 30px;
	width: 405px;
	margin: 5px auto 0;
	font-size: 15px;
}
.m1-apply{
	width: 248px;
	height: 74px;
	position: absolute;
    background: url('../images/mobile_apply.png') center center no-repeat;
    background-size: contain;
	display: block;
	left: 275px;
	top: 599px;
}
.m1-logo{
	width: 790px;
	height: 69px;
	margin: 0 auto;
	background: url(../images/logo5.png) center center no-repeat;
}
.main2{
	height: 375px;
	width: 100%;
	background: url(../images/bg2.png) center center no-repeat;
	overflow: hidden;
	margin: 2px 0 20px;
}
.m2-h2{
	font-size: 30px;
	color: #333333;
	text-align: center;
	width: 100%; 
	margin-top: 75px;
	display: block;
}
.m2-p{
	width: 862px;
	line-height: 30px;
	color: #757575;
	margin:48px auto 0;
	font-size: 15px;
}
.m2-btn{
	width: 151px;
	height: 40px;
	margin: 20px auto 0;
	display: block;
	background: url(../images/btn1.png) 0 0 no-repeat;
}
.main3{
    height: 1224px;
    width: 100%;
    overflow: hidden;
    background-size: auto 100%;
    background-color: #fafafa;
}
.m3-top{
	color: #333;
	margin-top:40px;
	text-align: center;
	font-size: 30px;
}
.m3-tab{
	width: 800px;
	margin:53px auto 0;
	display: block;
}
.w135{
	width: 135px; 
}
.m3-label{
	height: 32px;
	width: 97px;
	text-align: center;
	color: #fff;
	background: #7d7c7c;
	font-size: 16px;
	line-height: 32px;
	margin-top:5px;
}
.m3-tab p{
	color: #262626;
	font-size: 15px;
	line-height: 28px;
}
.m3-tab tr{
	margin-bottom: 40px;
	display: block;
}
.footer{
	width: 100%;
	height: 104px;
}
.ft{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.ft-logo1{
    height: 104px;
    background: url(../images/logo4.png) center center no-repeat;
}

.ft-logo2{
    height: 144px;
    background: url(../images/logo6.png) center center no-repeat;
}

.ft-logo3{
    height: 144px;
    background: url(../images/logo7.png) center center no-repeat;
}

.ft-logo11{
    height: 144px;
    background: url(../images/logo11.png) center center no-repeat;
}

.ft-logo12{
    height: 144px;
    background: url(../images/logo12.png) center center no-repeat;
}

.ft-logo4{
    height: 144px;
    background: url(../images/logo8.png) center center no-repeat;
}

.ft-logo14{
   height: 144px;
   background: url(../images/logo14.png) center center no-repeat;
}

.ft1{
  float: left;
  width: 114px;
  height: 104px;
  display: block;
  position: relative;
  left: 310px;
}
.ft2{
  float: left;
  width: 59px;
  height: 104px;
  display: block;
  position: relative;
  left: 380px;
}
.ft3{
  float: left;
  width: 132px;
  height: 104px;
  display: block;
  position: relative;
  left: 455px;
}

.ft4{
  float: left;
  width: 75px;
  height: 104px;
  display: block;
  position: relative;
  left: 375px;
}

.ft5{
  float: left;
  width: 127px;
  height: 104px;
  display: block;
  position: relative;
  left: 447px;
}

.ft6{
  float: left;
  width: 125px;
  height: 104px;
  display: block;
  position: relative;
  left: 435px;
}

.ft7{
  float: left;
  width: 225px;
  height: 104px;
  display: block;
  position: relative;
  left: 430px;
}

.ft14{
  display: block;
  width: 250px;
  height: 60px;
  margin: 42px 0px 42px 340px;
}
.qr{
    width: 114px;
    height: 159px;
    background: url(../images/qr.png) 0 0 no-repeat;
    position: fixed;
    right: 5%;
    top: 60%;
    z-index: 707;
}

.jiathis_share_32x32, .phone-footer {
    display:none !important
}

.weixin_share{
    background-position: 0px 0px !important;
}

.weixin_tsina{
    background-position: -48px 0px !important;
}

.weixin_renren{
    background-position: -96px 0px !important;
}

.weixin_douban{
    background-position: -144px 0px !important;
}

.weixin_tqq{
   background-position: -192px 0px !important;
}

.qr .share_list .share span{
    width: 48px;
    height: 48px;
    display: block;
    background: url('../images/sprite.png') no-repeat;
    margin:5px 0;
}

.qr .share_list {
  position: relative;
  left: 33px;
  top: -300px;
}

.m3-bg4{
  background: url('../images/main3_bg4.png') center top no-repeat;
  background-size: 100% 54%;
  width: 935px;
  height: 530px;
  position: absolute;
  left: 22%;
}

.m3-bg5{
  background: url('../images/main3_bg5.png') top center no-repeat;
  background-size: contain;
  width: 40%;
  height: 164px;
  position: absolute;
  left: 33%;
}

.main5{
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
}


.m5-top{
  color: #333;
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
}

.m5-trigger {
  width: 214px;
  height: 40px;
  margin: 12px auto;
}

.m5-trigger ul li{
  width: 96px;
  font-size: 18px;
  text-align: center;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  cursor: pointer;
}

.m5-trigger ul li:first-child{
 margin-right:10px;
}

/*.m5-trigger ul li:last-child{*/
  /*float: right;*/
/*}*/

.m5-trigger ul{
  list-style: none;
  padding: 6px 0 6px 0;
  color: #adadad;
  display: block;
}

.m5-trigger ul .active{
    background-color: #7d7c7c;
    color: #ffffff
}

.m5-player{
    width:1120px;
    margin: 10px auto 0;
    overflow: hidden;
}

.m5-player table{
    display: block;
    width: 1120px;
    margin: 0 auto;
    position:absolute
}

.m5-player tr{
    display:block;
    min-height:  277px;
}

.m5-player td{
  display: inline-block;
  width: 219px;
  margin: 1px;
  float:left;
}


.m5-player .player-head img{
    width:100%;
    height:100%
}

.m5-player .player-name,  .m7-player .player-name, .m16-player .player-name{
    display: block;
    text-align: center;
    margin: 20px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #588cd7
}

.m5-player .player-title, .m7-player .player-title{
  text-align: center;
  min-height: 18px;
  width:200px;
}

.m5-player .player-p, .m7-player .player-p , .m16-player .player-p{
  margin: 10px 36px 0 36px;
  color: #999999;
}

.m5-player .player-title span, .m7-player .player-title span, .m16-player .player-title span{
  display: block;
  height: 18px;
  line-height: 18px;
}

.m5-player .player-head, .m7-player .player-head , .m16-player .player-head{
  height: 152px;
  width: 152px;
  margin: 6px auto 0;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 76px;
}

.phone-main5{
    display:none;
}

.luyan{
    background: url('../images/players/luyan.png') center center no-repeat;
    background-size:contain;
    display:block;
    height:19px;
    width: 80px;
    position:relative;
    margin:0 auto;
}

.luyan-div{
    margin-top:10px;
}

.main6 {
  height: 760px;
  width: 100%;
  background-color: #fafafa;
  padding-top: 40px;
}

.m6-inner{
  width: 1120px;
  margin: 30px auto 0;
  height: 610px;
}

.main6 .embed-body{
  width: 837px;
  float: left;
  display: inline-block;
  height: 610px;
}

.main6 .embed-panel{
  float: left;
  height: 610px;
  width: 283px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.main6 .embed-panel .active{
  background-color: #ed3011 !important;
  color: #ffffff !important;
}

.main6 .embed-panel .active .current span{
    display: block !important;
}

.main6 .embed-panel .current{
  width: 47.79px;
  display: inline-block;
  text-align: right;
  height: 40px;
  float: left;
  clear: left;
}

.main6 .embed-panel .current span{
  display: none;
  width: 40px;
  height: 40px;
  margin: 5px 0;
  line-height: 40px;
  font-size: 30px;
}

.main6 .embed-panel .text span{
  display: block;
  height: 40px;
  margin: 8px 0;
  line-height: 40px;
  font-size: 14px;
  width: 100%;
}

.main6 .embed-panel .text{
  width: 235px;
  display: inline-block;
}

.main6 .embed-panel .btn{
  width:100%;
  height: 54.5px;
  border-bottom: 1px solid #ffffff;
  background-color: #f2f2f3;
  color: #484848;
}

.main7{
  height: 660px;
  width: 100%;
  background-color: #ffffff;
}

.m6-top{
  color: #333;
  text-align: center;
  font-size: 30px;
}

.m7-top{
  color: #333;
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
}

.m7-player {
  width: 1120px;
  margin: 30px auto 0;
  overflow: hidden;
}

.m7-player table {
  display: block;
  width: 1120px;
  margin: 0 auto;
}

.m5-player tr {
  display: block;
  min-height: 277px;
}

.m7-player td {
  display: inline-block;
  width: 219px;
  margin: 1px;
  float: left;
}

#liqian{
  position: relative;
  left: 371px;
  top: -150px;
}

.m7-player .player-head{
  height: 200px;
  width: 219px;
  margin: 6px auto 0;
  overflow: hidden;
}

.m7-player .player-p{
  width: 190px;
  display: block;
  margin: 10px auto;
  text-align: center;
}

.m7-player .player{
  margin: 0 auto;
  display: block;
}
.main16{
  background: url('../images/main16-bg.png') center center no-repeat;
  background-size: auto;
  height: 760px;
  width: 100%;
  padding-top: 40px;
}

.m16-player {
  width: 1120px;
  margin: 30px auto 0;
  position:relative;
}


.m16-player table {
  display: block;
  width: 1120px;
  margin: 0 auto;
}

.main16 img{
  display: block;
  margin: 0 auto;
}

.m16-player .player-head {
  height: 200px;
  width: 219px;
  margin: 6px auto 0;
  overflow: hidden;
}

.m16-player td {
  display: inline-block;
  width: 368px;
  margin: 1px;
  float: left;
}

.main16-left{
  background: url('../images/main16_left.png') center center no-repeat;
  background-size: contain;
  width: 473px;
  height: 211px;
  position: absolute;
  top: -160px;
  left: 14px;
}

.mark_title{
  color: #333;
  height: 71px;
  text-align: center;
  font-size: 30px;
}

.m16-player .player-title{
  height: 61px;
  text-align: center;
  min-height: 18px;
  margin: 20px 0 20px 84px;
}

.m16-player .player-title img{
    margin: 0 10px;
    float:left;
}

.m16-player .player-title span{
  line-height: 28px;
  display: block;
  height: 28px;
  font-size: 18px;

  text-align: left;
}

.m16-player .player-title .name{
  color: #588cd7;
}

.m16-player .player-title .title{
  color: #5b5b5b;
}

.main16-right{
  background: url('../images/main16_right.png') center center no-repeat;
  background-size: contain;
  width: 433px;
  height: 233px;
  position: absolute;
  top: -160px;
  left: 636px;
}

.main8{
  height: 660px;
  width: 100%;
  background-color: #ffffff;
}

.main8-inner{
  width: 1045px;
  margin: 10px auto;
  height: 518px;
}

.slidesjs-pagination, .slidesjs-stop, .slidesjs-play{
    display:none !important;
}

.slidesjs-previous{
   background: url('../images/luyan/previous.png') center center no-repeat;
   height: 60px;
   width: 60px;
   display: block;
   background-size: contain;
   position: relative;
   left: -80px;
   top: -245px;
   float:left;
   z-index: 711;
}

.slidesjs-next{
  background: url('../images/luyan/next.png') center center no-repeat;
  height: 60px;
  width: 60px;
  display: block;
  background-size: contain;
  float: right;
  right: -80px;
  position: relative;
  top: -245px;
  z-index: 711;
}

#slides {
    overflow: visible !important;
}

.main8-title{
  width: 880px;
  margin: 0 auto;
  padding: 37px 0;
}

.luyan-title{
  width:145px;
  height:34px;
  margin: 0 auto;
}

.luyan-title span{
  color: #333;
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
}

.phone-main7{
    display:none;
}

#phone-slides{
    display:none;
}

.phone{
    display:none !important;
}

.logo-qidian{
  /*background: url('../images/logo_qidian.png') center center no-repeat;*/
  /*background-size: 172px 49px;*/
  height: 58px;
  position: relative;
  top: -17px;
  width: 205px !important;
}

.logo-qidian img{
  height: 59.96px;
  width: 172px;
}

.phone-logo-qidian{
    display:none;
}

.ml-top{
  color: #333;
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
}

.ml-p{
  color: #262626;
  font-size: 15px;
  line-height: 28px;
  width: 862px;
  margin: 48px auto 0;
  font-size: 15px;
}

.location-img{
  width: 862px;
  height: 634px;
  margin: 10px auto 48px;
}

.location-img img{
    width:100%;
    height:100%;

}

.ml{
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
}

.hd-nav li#second, .hd-nav li#champion, .hd-nav li#third{
    width:55px;
}

#player_third .player-title{
    margin-left: 64px;
}

#player_second .player-title{
    margin-left: 64px;
}

#player_second .player-title img{
    margin-right: 30px;
}

#player_third .player-title img{
    margin-right: 30px;
}